In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_mac64.zip
Driver has been saved in cache [/Users/MadhuSlokaPj/.wdm/drivers/chromedriver/mac64/100.0.4896.60]

Code to scrape news related to Mars

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
for x in range(1):
    
    n_title = []
    n_desc = []

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.find_all(class_='list_text')
    print(type(articles))

    for article in articles:
        news_title = article.find(class_='content_title').text
        news_p = article.find(class_='article_teaser_body').text
        n_title.append(news_title)
        n_desc.append(news_p)
    lat_title = n_title[0]
    lat_art = n_desc[0]
    
#latest_news = pd.DataFrame({"Title": lat_title, "Article": lat_art})
#latest_news

print(lat_title)
print(lat_art)

        
        
# Click the 'Next' button on each page
 #    try:

  #       browser.links.find_by_partial_text('MORE').click()
  #   except:
   #      print("Scraping Complete")

<class 'bs4.element.ResultSet'>
5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover
The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

Code to scrape image in headline

In [5]:
url2 = 'https://spaceimages-mars.com/'
browser.visit(url2)

In [6]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [7]:


html2 = browser.html
soup2 = BeautifulSoup(html2, 'html.parser')
images = soup2.find_all('div', class_='fancybox-outer')


for image in images:
    path = image.find('img', class_= 'fancybox-image')
    relative_image_path = path['src']
    mars_img = url2 + relative_image_path
    print (mars_img)

https://spaceimages-mars.com/image/featured/mars1.jpg

Code to scrape facts about Mars

In [8]:
url3 = 'https://galaxyfacts-mars.com/'
browser.visit(url3)

In [9]:
tables = pd.read_html(url3)

In [10]:
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
type(tables)

list

In [12]:
#keep first object in the list and drop the rest
df = tables[0]
df.columns = df.columns.get_level_values(0)
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [13]:
#Replace column header with first row
df.columns = df.iloc[0]
df = df[1:]
#Delete Earth column and replace column headers
df = df.drop(['Earth'], axis=1)
df.rename(columns={'Mars - Earth Comparison': 'Description', 'Mars': 'Facts'}, inplace=True)
df.head()

0         Description            Facts
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days

In [14]:
#convert to html and save the html file
html_table = df.to_html()
html_table.replace('\n', '')
df.to_html('mars_facts.html')

More pictures from different hemispheres

In [17]:
url4 = 'https://marshemispheres.com/'
browser.visit(url4)
hemispheres = ["Cerberus Hemisphere", "Schiaparelli Hemisphere", "Syrtis Major Hemisphere", 
               "Valles Marineris Hemisphere"]
img_url = []

dict_list = []
dict = {}


for i in range(len(hemispheres)):
    
    browser.links.find_by_partial_text(hemispheres[i]).click()
    
    html3 = browser.html
    soup3 = BeautifulSoup(html3, 'html.parser')
    images = soup3.find_all('div', class_='wide-image-wrapper')


    for image in images:
        path2 = image.find('img', class_= 'wide-image')
        relative_image_path2 = path2['src']
        img2 = url4 + relative_image_path2
        img_url.append(img2)
    
    
    
    browser.links.find_by_partial_text('Back').click()
    
for j in range(len(hemispheres)):
    dict[hemispheres[j]] = img_url[j]
                
print(dict)

{'Cerberus Hemisphere': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'Schiaparelli Hemisphere': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 'Syrtis Major Hemisphere': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 'Valles Marineris Hemisphere': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}

In [18]:
url4 = 'https://marshemispheres.com/'
browser.visit(url4)
hemispheres = ["Cerberus Hemisphere", "Schiaparelli Hemisphere", "Syrtis Major Hemisphere", 
               "Valles Marineris Hemisphere"]
img_url = []

dict_list = []


for hemisphere in hemispheres:
    
    browser.links.find_by_partial_text(hemisphere).click()
    dict = {"Title":[], "img_url":[]}
    html3 = browser.html
    soup3 = BeautifulSoup(html3, 'html.parser')
    images = soup3.find_all('div', class_='wide-image-wrapper')


    for image in images:
        path2 = image.find('img', class_= 'wide-image')
        relative_image_path2 = path2['src']
        img2 = url4 + relative_image_path2
        #img_url.append(img2)
    dict["img_url"].append(img2)
    dict["Title"].append(hemisphere)
    
    

    dict_list.append(dict.copy())
    
    browser.links.find_by_partial_text('Back').click()
                
print(dict_list)

[{'Title': ['Cerberus Hemisphere'], 'img_url': ['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg']}, {'Title': ['Schiaparelli Hemisphere'], 'img_url': ['https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg']}, {'Title': ['Syrtis Major Hemisphere'], 'img_url': ['https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg']}, {'Title': ['Valles Marineris Hemisphere'], 'img_url': ['https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']}]